<h1> <%= @restaurant.name %> </h1>

<img src=<%= @restaurant.picture %> > </span>
<div>
  <span> <%= @restaurant.address %> </span>
  <span> <%= @restaurant.city %></span>
  <span> <%= @restaurant.state %></span>
  <span> <%= @restaurant.zip %></span>
</div>
  <p> <%= @restaurant.description %></p>
