<button> <%= link_to "Back", restaurants_path  %> </button>
<h1> <%= @restaurant.name %> </h1>
<div> <img src=<%= @restaurant.picture %> alt=<%= @restaurant.name %>>  </div>
<div>
  <span> <%= @restaurant.address %> </span>
  <span> <%= @restaurant.city %></span>
  <span> <%= @restaurant.state %></span>
  <span> <%= @restaurant.zip %></span>
</div>
  <span> <%= @review_rating %></span>
  <span> <%= @review_price %></span>
  <p> <%= @restaurant.description %></p>
<button> <%= link_to "Add Review", new_restaurant_review_path(@restaurant) %> </button>

<h2> Reviews for <%= @restaurant.name %> </h2>
<ul>
  <% @reviews.each do |review| %>
    <li><h3> <%= review.title  %> </h3>
    <span> Rating: <%= review.rating %></span>
    <span> Vote: <%= review.vote_score %></span>
    <span> Price: <%= review.price %></span>
    <p> <%= review.body %> </p></li>
  <% end %>
</ul>
